body {
  background-color:white;opacity:2;
  font-family: "Open Sans", sans-serif;
  text-align:center;
  
}

  h1 {
        font-family:Qwitcher Grypen;font-size:63px;
        color:black;opacity: 2;
        margin-bottom:0px;
        text-align:center;
        margin-top: 0px;
        padding-left:30px;
        
      }  

h2 {
  font-family:Qwitcher Grypen;font-size:52px;
  color:black;opacity:2;
  text-align:center;
  margin-top:-1px;
  margin-bottom:-2px;
  margin-left:160px;
}

 
  .image {

    width:300px;
    height:300px;
    padding-left:167px;
    padding-right:300px;
    padding: top -0.00px;
    padding-bottom:0px;
    
 }            
 img {
  opacity: 2.5;
}

        

.btn {

    margin-left: 10px;
    float:left;
    height:70px;
    margin-top:90px;
    margin-bottom:100px;
    margin:20px;
    font-size:20px;
    font-weight:light;
    border:5px solid yellow;
    opacity:2;
    border-radius:5px solid yellow;
    background-color:yellow;
    color:black;
    opacity: 2;
    width:100px;
   }

  .text {

    font-family:60px;
    position: absolute;
    margin-top: -334px;
    margin-left: 628px;

  }
