body {

  background-color:black;opacity:2;
  font-family: "Open Sans", sans-serif;
  text-align:center;
  
}

  h1 {

        font-family:Qwitcher Grypen;font-size:50px;
        color:yellow;opacity: 2;
        margin-bottom:-18px;
        text-align:center;
        margin-top:-2px;
        padding-left:193px;
        opacity: 2;
        
      }  

h2 {
  
  color:yellow;opacity:2;
  text-align:center;
  margin-top:-1px;
  margin-bottom:-2px;
  font-family:Qwitcher Grypen;font-size:27px;margin-left:145px;
  padding-left:67px;

}

 
  .image {

    width:300px;
    height:300px;
    padding-left:167px;
    padding-right:300px;
    padding-top: 15px;
    padding-bottom:0px;
    
 } 
 
 
 img {
  opacity: 2.5;
}

        

.btn {

    margin-left: 10px;
    float:left;
    height:70px;
    margin-top:15px;
    margin-bottom:100px;
    margin:20px;
    font-size:20px;
    font-weight:light;
    border:5px solid black;
    opacity:2;
    border-radius:5px solid black;
    background-color:black;
    color:yellow;
    opacity: 2;
    width:70px;

   }

  .text {

      font-family:60px;
      position: absolute;
      margin-top: -285px;
      margin-left: 618px;
      padding-bottom: 35px;
  
    }
  
 