body {

  background-color:burlywood;opacity:2;
  font-family: "Open Sans", sans-serif;
  text-align:center;
  
}

  h1 {

        font-family:Qwitcher Grypen;font-size:60px;
        color:maroon;opacity: 2;
        text-align:center;
        margin-top:-20px;
        padding-left:193px;
        opacity:2;
        margin-bottom:-20px;
      }  

h2 {
  
  color:maroon;opacity:2;
  font-weight:bold;
  text-align:center;
  margin-top:-1px;
  margin-bottom:-10px;
  font-family:Qwitcher Grypen;font-size:40px;margin-left:145px;
  padding-left:65px;

}
h3 {
  
  color:maroon;opacity:2;
  font-weight:bolder;
  text-align:center;
  margin-top:-30px;
  margin-bottom:-2px;
  font-family:Qwitcher Grypen;font-size:25px;margin-left:145px;
  padding-left:65px;

}

p {
  font-family:Qwitcher Grypen;
  color: black;
  font-weight:bolder;
  margin-top:-30px;
  font-size: 24px;
  padding-left:350px;
}
  .image {

    width:300px;
    height:300px;
    padding-left:167px;
    padding-right:300px;
    padding-top: 2px;
    padding-bottom:0px;
    
 } 
 
 
 img {
  opacity: 2.5;
}

        

.btn {

    margin-left: 10px;
    float:left;
    height:62px;
    margin-top:15px;
    margin-bottom:100px;
    margin:20px;
    font-size:20px;
    font-weight:light;
    border:5px solid burlywood;
    opacity:2;
    border-radius:5px solid burlywood;
    background-color:burlywood;
    color:maroon;
    opacity: 2;
    width:70px;

   }

  .text {

      font-family:60px;
      position: absolute;
      margin-top: -285px;
      margin-left: 618px;
      padding-bottom: 35px;
  
    }
  
 